@import 'variables.scss';

.wrapper {
  min-height: 100%;
  position: relative;
  &.has-navbar-fixed-top {
    padding-top: 3.25rem;
  }
}

.navbar-burger {
  appearance: none;
  border: 0;
  background-color: transparent;
}

.footer {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.university-search {
  .title {
    text-align: center;
  }
  .label {
    color: white;
  }
}

.country-code {
  width: 48px;
  height: 48px;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
}